<ion-content [fullscreen]="true" class="ion-padding card-bg">
  <div class="recover-card">
    <div class="logo-center">
      <img src="assets/img/Logo 2024 - Firma_azul 1.PNG" alt="Logo" class="auto-image" />
    </div>
    <h2 class="title">Recuperar Contraseña</h2>
    <form (ngSubmit)="sendEmail()">
      <ion-item class="email-input-container minimal-input">
        <ion-label position="floating" class="center-label">Ingrese su Correo</ion-label>
        <ion-input id="emailInput" type="email" placeholder="nombre.apellido@cmpuentealto.cl" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>
      <ion-button expand="block" class="main-btn" type="submit">Continuar</ion-button>
    </form>
    <div class="info-text">
      <p>Se enviará un correo, el cual no debe responder, donde se le indicará la nueva contraseña para ingresar al sistema.<br>Si el correo supera los 2 días, comuníquese con: 22 - 1111 1111.</p>
    </div>
    <ion-button fill="outline" expand="block" class="secondary-btn" (click)="goTohomePage()">Inicio</ion-button>
  </div>
</ion-content>
