<ion-content class="recover-page">
  <div class="recover-card">
    <div class="logo-center">
      <img src="assets/img/Logo 2024 - Firma_azul 1.PNG" alt="Logo Corporación Municipal" class="logo-image">
    </div>

    <h2 class="title">Recuperar Contraseña</h2>

    <ion-list class="ion-text-center">
      <ion-item class="email-input-container">
        <ion-input type="email" label="Ingrese su Correo" placeholder="nombre.apellido@cmpuentealto.cl" label-placement="floating" fill="outline"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button class="main-btn" expand="block" shape="round">Continuar</ion-button>

    <p class="info-text">Se enviará un correo, el cual no debe responder, donde se le indicará la nueva contraseña para ingresar al sistema.
      Si el correo supera los 2 días, comuníquese con: 22 - 1111 1111.</p>

    <ion-button class="secondary-btn" fill="clear">Inicio</ion-button>
  </div>
</ion-content>
